In [1]:
def f(i, values=[]):
    values.append(i)

In [59]:
def increment_items(L,increment):
    i=0
    while i<len(L):
        L[i]=L[i]+increment
        i=i+1
values=[1,2,3]
print(increment_items(values,2))
print(values)

None
[3, 4, 5]

In [60]:
def f1():
    x=12
    print(x)
x=7
f1()

12

In [61]:
def f1():
    x=12
    print(x)
x=7
f1()
print(x)

12
7

In [62]:
def f1():
    x=100
    print(x)
x=+1
f1()

100

In [63]:
def f():
    global a
    print(a)
    a="hello"
    print(a)
a="world"
f()
print(a)

world
hello
hello

In [64]:
def f1(a,b=[]):
    b.append(a)
    return b
print(2,[3,4])

2 [3, 4]

In [65]:
def f10(x):
    print("outer")

In [66]:
def extended_gcd(a, b):
    if b == 0:
        return (1, 0)
    else:
        x1, y1 = extended_gcd(b, a % b)
        x, y = y1, x1 - (a // b) * y1
        return x, y

def CR(list1, list2):
    if len(list1) == 1:
        return list1[0] % list2[0]

    a1, a2 = list1[0], list1[1]
    p1, p2 = list2[0], list2[1]
    s, t = extended_gcd(p1, p2)
    x12 = (a2 * s * p1 + a1 * t * p2) % (p1 * p2)

    return CR([x12] + list1[2:], [p1 * p2] + list2[2:])

In [67]:
extended_gcd(12,17)

(-7, 5)

In [68]:
def GCD(a,b):
    if a<0:
        a=abs(a)
    if b<0:
        b=abs(b)
    if a==0 or b==0:
        return max(a,b)
    else:
        a,b= min(a,b), max(a,b)% min(a,b)
        return GCD(a,b)

In [69]:
GCD(-48,18)

6

In [70]:
def Bezout_coef(a,b):
    s1,t1,r1=1,0,a
    s2,t2,r2=0,1,b
    while r2!=0:
        q=r1//r2
        ns=s1-q*s2
        nt=t1-q*t2
        nr=r1-q*r2
        s1,t1,r1=s2,t2,r2
        s2,t2,r2=ns,nt,nr
    return s1,t1

In [71]:
Bezout_coef(51,29)

(4, -7)

In [72]:
Bezout_coef(74,63)

(23, -27)

In [73]:
Bezout_coef(2001,2002)

(-1, 1)

In [74]:
def CRT (A,P):
    if len(A)!=len(P):
        raise valueError(f" ")
    for i in range (len(A)):
        for j in range (i+1,len(A)):
            if GCD(P[i],P[j])!=1:
                return f"{P[i]} and {P[j]} are not coprime"
            
    if len(A)==1:
        return A[0]%P[0],P[0]
    else:
        A1=[A[0],A[1]]
        P1=[P[0],P[1]]
        X,M=CR(A1,P1)
        Anew=[x]+A[2:]
        Pnew=[M]+P[2:]
        return CRT(Anew,Pnew)

In [75]:
CRT([11,13],[74,63])

TypeError: cannot unpack non-iterable int object

In [81]:
def CR(A,P):
    if len(A)!=len(P):
        raise ValueError(f" Enter the  ")
    if gcd_recursive(P[0],P[1])!=1:
        return f"{P[0]} and {P[1]} are not coprime"
    else:
        s,t= Bezout_coef(P[0],P[1])
        M=P[0]*P[1]
        x=(A[0]*P[1]*t+A[1]*P[0]*s)%M
          
    return X,M

In [82]:
CR([74,63])

TypeError: CR() missing 1 required positional argument: 'P'

In [83]:
def CR(A,P):
    if len(A)!=len(P):
        raise ValueError(f" Enter the  ")
    if gcd_recursive(P[0],P[1])!=1:
        return f"{P[0]} and {P[1]} are not coprime"
    else:
        s,t= Bezout_coef(P[0],P[1])
        M=P[0]*P[1]
        x=(A[0]*P[1]*t+A[1]*P[0]*s)%M
        
        
    return x,M

In [84]:
CR([74,63],[5,7])

NameError: name 'gcd_recursive' is not defined

In [85]:
l=[1,2,3,4,5]
[x&1 for x in l]

[1, 0, 1, 0, 1]

In [87]:
l1=[1,2,3]
l2=[4,5,6]
[x*y for x in l1 for y in l2]

[4, 5, 6, 8, 10, 12, 12, 15, 18]

In [94]:
l=[0,1,2,3,4,5]
[x and 1 for x in l]

[0, 1, 1, 1, 1, 1]

In [92]:
l=[1,2,3,4,5]
[x & 1 for x in l]

[1, 0, 1, 0, 1]

In [93]:
l=[1,2,3,4,5]
[x or 1 for x in l]

[1, 2, 3, 4, 5]

## operations******

In [95]:
l=[-2,-1,0,1,2,3,4,5]
[x or 0 for x in l]

[-2, -1, 0, 1, 2, 3, 4, 5]

In [96]:
l=[1,2,3,4,5]
[x & 3 for x in l]

[1, 2, 3, 0, 1]

In [97]:
s=["pune","mumbai","delphi"]
[(w.upper(),len(w),) for w in s]

[('PUNE', 4), ('MUMBAI', 6), ('DELPHI', 6)]

In [98]:
l1=[2,4,6]
l2=[-2,-4,-6]
for i in zip(l1,l2):
    print(i)

(2, -2)
(4, -4)
(6, -6)

In [99]:
help(zip)

Help on class zip in module builtins:

class zip(object)
 |  zip(*iterables, strict=False) --> Yield tuples until an input is exhausted.
 |
 |     >>> list(zip('abcdefg', range(3), range(4)))
 |     [('a', 0, 0), ('b', 1, 1), ('c', 2, 2)]
 |
 |  The zip object yields n-length tuples, where n is the number of iterables
 |  passed as positional arguments to zip().  The i-th element in every tuple
 |  comes from the i-th iterable argument to zip().  This continues until the
 |  shortest argument is exhausted.
 |
 |  If strict is true and one of the arguments is exhausted before the others,
 |  raise a ValueError.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __setstate__(...)
 |      Set state information for unpickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [105]:
l=[[1,2,3],[4,5,6],[7,8,9]]
[[row[i] for row in l] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [107]:
import math
[str(round(math.pi)) for i in range(1,6)]

['3', '3', '3', '3', '3']

In [108]:
l1=[1,2,3]
l2=[4,5,6]
l3=[7,8,9]
for x,y,

SyntaxError: invalid syntax (2893195440.py, line 4)

In [111]:
my_string="list comprehension"
k=[print (i) for i in my_string if i not in "aeiou"]
print(k)

l
s
t

c
m
p
r
h
n
s
n
[None, None, None, None, None, None, None, None, None, None, None, None]

In [112]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [120]:
my_string="hello world"
k=[(i.upper(), len(i)) for i in my_string]
print(k)

[('H', 1), ('E', 1), ('L', 1), ('L', 1), ('O', 1), (' ', 1), ('W', 1), ('O', 1), ('R', 1), ('L', 1), ('D', 1)]

In [119]:
my_string="hello world"
k=[(i.upper(), len(i)) for i in my_string]
k

[('H', 1),
 ('E', 1),
 ('L', 1),
 ('L', 1),
 ('O', 1),
 (' ', 1),
 ('W', 1),
 ('O', 1),
 ('R', 1),
 ('L', 1),
 ('D', 1)]

In [116]:
for i in list 0:
    if function

SyntaxError: invalid syntax (3216019897.py, line 1)

In [124]:
list_1=[]
for i in list_0:
    if func(i):
        list_1.append(expr(i))
list_1

NameError: name 'list_0' is not defined

In [125]:
x=[i**+1 for i in range (3)];print(x)

[0, 1, 2]

In [126]:
def example(L):
    i=0
    result=[]
    while i<len(L):
        results.append (L(i))
        i=

SyntaxError: invalid syntax (1393418559.py, line 6)

## factorial of a number

In [31]:
def fac(n):
    prod=1
    if n==0:
        return 1
    elif n==1:
        return prod
    else:
        for n in range(2,n+1):
            prod=prod*n
        return prod

In [51]:
fac(6)

720

In [37]:
def fac(n):
    k=1
    if n==0:
        return 1
    else:
        for i in range (1,n+1):
            k=k*i
        return(k)

In [52]:
fac(10)

3628800

In [39]:
fac(20)

2432902008176640000

## power of a number

In [14]:
def power(n,k):
    print(n**k)

In [50]:
power(2,3)

8

In [16]:
power (5,7)

78125

In [ ]:
powe

## maximum number

In [23]:
def max(x,y):
    if x>=y:
        return x
    else:
        return y

In [24]:
max(5,5)

5

## minimum number

In [40]:
def min(x,y):
    if x<=y:
        return x
    else:
        return y

In [41]:
min(5,8)

5

## check if the number is odd or even

## concatenate two strings

In [70]:
def con(x,y):
    x="evans"
    y="kiplagat"
    return (x+y)

In [71]:
con(x,y)

NameError: name 'x' is not defined

In [72]:
print("evans"+"Kiplagat")

evansKiplagat

In [74]:
def con(x,y):
    print(x,y, sep="\t")

In [75]:
con("Evans","Kiplagat")

Evans	Kiplagat

In [76]:
def con(x,y):
    print(x,y, sep="\n")

In [77]:
con("Evans","Kiplagat")

Evans
Kiplagat

## Find the largest element in a 1D array

In [78]:
def largest(L):
    max= L[0]
    for i in range (1,len(L)):
        if L[i]>max:
            max=L[i]
    return max

## 1: Find the maximum of two integers

In [1]:
def find_max(a, b):
    """
    This function takes two integers as input and returns the larger one.
    It uses a simple if-else conditional to compare both numbers.
    """
    if a > b:
        return a
    else:
        return b

In [2]:
find_max(12,23)

23

## Find the minimum of two integers

In [3]:
def find_min(a,b):
    if a<b:
        return a
    else:
        return b

In [4]:
find_min(12,23)

12

## Check if a number is even or odd

In [5]:
def is_even_or_odd(n):
    if n%2==0:
        return f"{n}is even."
    else:
        return f"{n}is odd."

In [6]:
is_even_or_odd(45)

'45is odd.'

## Calculate the sum of digits in a number

In [1]:
def sum_of_digits(n):
    """
    Calculates the sum of digits using arithmetic operations only.
    Works for both positive and negative numbers.
    """
    n = abs(n)      # handle negative numbers
    total = 0
    while n > 0:
        total += n % 10   # get the last digit
        n //= 10         # remove the last digit
    return total

In [2]:
sum_of_digits(1234)

10

In [9]:
def sum_of_digits(n):
    """
    Another simple approach using list comprehension.
    """
    return sum([int(d) for d in str(abs(n))])

In [10]:
sum_of_digits(1233)

10

## Calculate the average of three floating-point numbers

In [3]:
def average_three(a, b, c):
    """
    Computes the average of three floating-point numbers.
    """
    average = (a + b + c) / 3
    return round(average, 2)

In [4]:
average_three(12,23,45)

26.67

## Check if a character is a vowel or consonant

In [5]:
def is_vowel_or_consonant(ch):
    vowels='aeiouAEIOU'
    if ch.isalpha():
        if ch in vowels:
            return

In [6]:
def is_vowel_or_consonant(ch):
    """
    Checks if the given character is a vowel or a consonant.
    Works for both uppercase and lowercase letters.
    """
    vowels = 'aeiouAEIOU'
    if ch.isalpha():
        if ch in vowels:
            return f"'{ch}' is a vowel."
        else:
            return f"'{ch}' is a consonant."
    else:
        return "Input is not a letter."

In [8]:
is_vowel_or_consonant("ae")

"'ae' is a vowel."

## Concatenate two strings

In [9]:
def concatenate_strings(s1, s2):
    """
    Joins two strings together using the '+' operator.
    """
    result = s1 + s2
    return result

In [10]:
concatenate_strings("edward","evans")

'edwardevans'

## Check if a string is a palindrome

In [11]:
def is_palindrome(s):
    """
    Checks whether a given string reads the same backward and forward.
    Ignores spaces and capitalization.
    """
    s = s.replace(" ", "").lower()
    if s == s[::-1]:
        return f"'{s}' is a palindrome."
    else:
        return f"'{s}' is not a palindrome."

In [13]:
is_palindrome("madam")

"'madam' is a palindrome."

## Calculate the power of a number

In [14]:
def power(base, exp):
    """
    Computes base raised to the power of exp.
    Equivalent to base ** exp.
    """
    result = 1
    for _ in range(exp):
        result *= base
    return result

In [15]:
power(5, 2)

25

## Check if a year is a leap year

In [1]:
def is_leap_year(year):
    """
    Determines if a given year is a leap year.
    Follows Gregorian calendar rules.
    """
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return f"{year} is a leap year."
    else:
        return f"{year} is not a leap year."

In [2]:
is_leap_year(2004)

'2004 is a leap year.'

In [6]:
is_leap_year(1997)

'1997 is not a leap year.'

## Check if a number is prime

In [ ]:
def is_prime(n):
    """
    Determines if a given number is prime.
    Prime numbers are greater than 1 and divisible only by 1 and themselves.
    """
    if n < 2:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

## Print the Fibonacci sequence

In [4]:
def fibonacci(n):
    """
    Generates the first n terms of the Fibonacci sequence.
    """
    a, b = 0, 1
    sequence = []
    for _ in range(n):
        sequence.append(a)
        a, b = b, a + b
    return sequence

## Swap two variables using a temporary variable

In [8]:
def swap_temp(a, b):
    """
    Swaps two variables using a temporary third variable.
    """
    temp = a
    a = b
    b = temp
    return a, b

## Swap two variables without using a temporary variable

In [7]:
def swap_no_temp(a, b):
    """
    Swaps two variables without using an extra variable.
    Uses tuple unpacking.
    """
    a, b = b, a
    return a, b

## Print the multiplication table of a number

In [ ]:
def multiplication_table(n):
    """
    Prints the multiplication table for a given number up to 10.
    """
    table = []
    for i in range(1, 11):
        line = f"{n} x {i} = {n * i}"
        table.append(line)
    return table

## Find the largest element in a 1D array

In [ ]:
def largest_in_array(arr):
    """
    Returns the largest element in a list (1D array).
    """
    max_val = arr[0]
    for val in arr:
        if val > max_val:
            max_val = val
    return max_val

## Find the smallest element in a 1D array

In [ ]:
def smallest_in_array(arr):
    """
    Returns the smallest element in a list.
    """
    min_val = arr[0]
    for val in arr:
        if val < min_val:
            min_val = val
    return min_val

## Calculate the sum of elements in a 1D array

In [9]:
def sum_array(arr):
    """
    Calculates the total sum of all elements in a list.
    """
    total = 0
    for val in arr:
        total += val
    return total

## Find the transpose of a 2D array

In [10]:
def transpose_matrix(matrix):
    """
    Returns the transpose of a given 2D matrix.
    """
    rows = len(matrix)
    cols = len(matrix[0])
    transpose = [[0 for _ in range(rows)] for _ in range(cols)]
    for i in range(rows):
        for j in range(cols):
            transpose[j][i] = matrix[i][j]
    return transpose

In [11]:
i = 0
while i < 3:
    print ( i )
    i += 1

0
1
2